In [13]:
import pandas as pd

In [14]:
import sys

In [15]:
pd.__file__

'/opt/venv/lib/python3.12/site-packages/pandas/__init__.py'

In [16]:
sys.executable

'/opt/venv/bin/python'

In [17]:
df = pd.read_csv(https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz)

SyntaxError: invalid decimal literal (2509967228.py, line 1)

In [19]:
url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz"

In [20]:
df = pd.read_csv(url)

/tmp/ipykernel_37/4176769558.py:1: DtypeWarning: Columns (0: store_and_fwd_flag) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [21]:
PREFIX = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow"
FILENAME = "yellow_tripdata_2021-01.csv.gz"

url = f"{PREFIX}/{FILENAME}"

In [22]:
df = pd.read_csv(url)

/tmp/ipykernel_37/4176769558.py:1: DtypeWarning: Columns (0: store_and_fwd_flag) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [23]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [24]:
len(df)

1369765

In [25]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.00,3.00,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.00,0.50,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.00,0.50,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.00,0.50,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.50,0.50,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369760,NaN,2021-01-25 08:32:04,2021-01-25 08:49:32,NaN,8.80,NaN,NaN,135,82,NaN,21.84,2.75,0.5,0.00,0.0,0.3,25.39,0.0
1369761,NaN,2021-01-25 08:34:00,2021-01-25 09:04:00,NaN,5.86,NaN,NaN,42,161,NaN,26.67,2.75,0.5,0.00,0.0,0.3,30.22,0.0
1369762,NaN,2021-01-25 08:37:00,2021-01-25 08:53:00,NaN,4.45,NaN,NaN,14,106,NaN,25.29,2.75,0.5,0.00,0.0,0.3,28.84,0.0
1369763,NaN,2021-01-25 08:28:00,2021-01-25 08:50:00,NaN,10.04,NaN,NaN,175,216,NaN,28.24,2.75,0.5,0.00,0.0,0.3,31.79,0.0
1369764,NaN,2021-01-25 08:38:00,2021-01-25 08:50:00,NaN,4.93,NaN,NaN,248,168,NaN,20.76,2.75,0.5,0.00,0.0,0.3,24.31,0.0

In [26]:
df.dtypes

VendorID                 float64
tpep_pickup_datetime         str
tpep_dropoff_datetime        str
passenger_count          float64
trip_distance            float64
RatecodeID               float64
store_and_fwd_flag           str
PULocationID               int64
DOLocationID               int64
payment_type             float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

In [27]:
df.shape

(1369765, 18)

In [28]:
dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

df = pd.read_csv(
    url,
    dtype=dtype,
    parse_dates=parse_dates,
    low_memory=False,
)

In [29]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [30]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.00,3.00,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.00,0.50,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.00,0.50,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.00,0.50,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.50,0.50,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369760,<NA>,2021-01-25 08:32:04,2021-01-25 08:49:32,<NA>,8.80,<NA>,<NA>,135,82,<NA>,21.84,2.75,0.5,0.00,0.0,0.3,25.39,0.0
1369761,<NA>,2021-01-25 08:34:00,2021-01-25 09:04:00,<NA>,5.86,<NA>,<NA>,42,161,<NA>,26.67,2.75,0.5,0.00,0.0,0.3,30.22,0.0
1369762,<NA>,2021-01-25 08:37:00,2021-01-25 08:53:00,<NA>,4.45,<NA>,<NA>,14,106,<NA>,25.29,2.75,0.5,0.00,0.0,0.3,28.84,0.0
1369763,<NA>,2021-01-25 08:28:00,2021-01-25 08:50:00,<NA>,10.04,<NA>,<NA>,175,216,<NA>,28.24,2.75,0.5,0.00,0.0,0.3,31.79,0.0
1369764,<NA>,2021-01-25 08:38:00,2021-01-25 08:50:00,<NA>,4.93,<NA>,<NA>,248,168,<NA>,20.76,2.75,0.5,0.00,0.0,0.3,24.31,0.0

In [31]:
df['tpep_pickup_datetime']

0         2021-01-01 00:30:10
1         2021-01-01 00:51:20
2         2021-01-01 00:43:30
3         2021-01-01 00:15:48
4         2021-01-01 00:31:49
                  ...
1369760   2021-01-25 08:32:04
1369761   2021-01-25 08:34:00
1369762   2021-01-25 08:37:00
1369763   2021-01-25 08:28:00
1369764   2021-01-25 08:38:00
Name: tpep_pickup_datetime, Length: 1369765, dtype: datetime64[us]

In [32]:
!uv add sqlalchemy

Resolved 118 packages in 0.62ms
Audited 114 packages in 59ms

In [36]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [37]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

OperationalError: (psycopg2.OperationalError) connection to server at "localhost" (::1), port 5432 failed: Connection refused
	Is the server running on that host and accepting TCP/IP connections?
connection to server at "localhost" (127.0.0.1), port 5432 failed: Connection refused
	Is the server running on that host and accepting TCP/IP connections?

(Background on this error at: https://sqlalche.me/e/20/e3q8)

below approach not production friedly as credentials are hardcoded

In [38]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine("postgresql+psycopg2://root:root@ny_taxi_pg:5432/ny_taxi")
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

below option is more production ready as it reads from a .env file

In [39]:
import os
import pandas as pd
from sqlalchemy import create_engine

def require_env(name: str) -> str:
    value = os.environ.get(name)
    if not value:
        raise RuntimeError(
            f"Missing env var: {name}. "
            f"Make sure docker-compose has `env_file: - .env` for the jupyter service."
        )
    return value

PG_HOST = os.environ.get("POSTGRES_HOST", "ny_taxi_pg")
PG_PORT = int(os.environ.get("POSTGRES_PORT", "5432"))
PG_USER = require_env("POSTGRES_USER")
PG_PASS = require_env("POSTGRES_PASSWORD")
PG_DB   = require_env("POSTGRES_DB")

engine = create_engine(
    f"postgresql+psycopg2://{PG_USER}:{PG_PASS}@{PG_HOST}:{PG_PORT}/{PG_DB}"
)

print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [40]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [45]:
csv_url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz"

df_iter = pd.read_csv(
    csv_url,
    iterator=True,
    chunksize=100_000,
    dtype={
        "store_and_fwd_flag": "string"
    }
)

In [46]:
df_iter = pd.read_csv(
    csv_url,
    iterator=True,
    chunksize=100_000,
    low_memory=False
)

In [47]:
for df_chunk in df_iter:
    print(len(df_chunk))

100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
100000
69765

In [48]:
df_chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

765

In [49]:
uv add tqdm

/opt/venv/bin/python: No module named uv
Note: you may need to restart the kernel to use updated packages.

In [1]:
from tqdm import tqdm

In [2]:
from tqdm.auto import tqdm

for df_chunk in tqdm(df_iter):
    ...

/opt/venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

NameError: name 'df_iter' is not defined

In [3]:
import pandas as pd

csv_url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz"

df_iter = pd.read_csv(
    csv_url,
    iterator=True,
    chunksize=100_000,
    dtype={"store_and_fwd_flag": "string"}
)

In [4]:
from tqdm.auto import tqdm

In [6]:
from tqdm.auto import tqdm

for df_chunk in tqdm(df_iter):
    ...

13it [00:02,  5.40it/s]

In [7]:
import pandas as pd
from tqdm import tqdm  # <- avoids ipywidgets warning

csv_url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz"

df_iter = pd.read_csv(
    csv_url,
    iterator=True,
    chunksize=100_000,
    dtype={"store_and_fwd_flag": "string"},
)

for df_chunk in tqdm(df_iter, total=14):
    print(len(df_chunk))

 14%|█▍        | 2/14 [00:00<00:02,  5.46it/s]

100000
100000

 21%|██▏       | 3/14 [00:00<00:01,  5.59it/s]

100000

 36%|███▌      | 5/14 [00:00<00:01,  5.45it/s]

100000
100000

 43%|████▎     | 6/14 [00:01<00:01,  5.52it/s]

100000

 50%|█████     | 7/14 [00:01<00:01,  5.13it/s]

100000

 64%|██████▍   | 9/14 [00:01<00:01,  4.98it/s]

100000
100000

 79%|███████▊  | 11/14 [00:02<00:00,  5.34it/s]

100000
100000

 93%|█████████▎| 13/14 [00:02<00:00,  5.25it/s]

100000
100000

100%|██████████| 14/14 [00:02<00:00,  5.37it/s]

69765

In [8]:
from tqdm.auto import tqdm

for df_chunk in tqdm(df_iter, total=14):
    print(len(df_chunk))

  0%|          | 0/14 [00:00<?, ?it/s]

In [9]:
from tqdm import tqdm

for i, df_chunk in enumerate(tqdm(df_iter, total=14), start=1):
    df_chunk.to_sql(
        name="yellow_taxi_data",
        con=engine,
        if_exists="append",
        index=False,
        method="multi",
    )
    print(f"Inserted chunk {i}")

  0%|          | 0/14 [00:00<?, ?it/s]

In [10]:
from tqdm import tqdm

for i, df_chunk in enumerate(tqdm(df_iter, total=14), start=1):
    print(f"Chunk {i}, rows={len(df_chunk)}")

  0%|          | 0/14 [00:00<?, ?it/s]

In [12]:
from tqdm import tqdm

print("Starting insert loop...")

for i, df_chunk in enumerate(tqdm(df_iter, total=14), start=1):
    print(f"Chunk {i} loaded, inserting...")
    df_chunk.to_sql(
        name="yellow_taxi_data",
        con=engine,
        if_exists="append",
        index=False,
        method="multi",
    )
    print(f"Inserted chunk {i}")

Starting insert loop...

  0%|          | 0/14 [00:00<?, ?it/s]

In [13]:
try:
    first = next(df_iter)
    print("Iterator is alive. First chunk rows:", len(first))
except StopIteration:
    print("Iterator is exhausted. Recreate df_iter.")

Iterator is exhausted. Recreate df_iter.

In [14]:
import pandas as pd
from tqdm import tqdm

csv_url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz"

# Recreate iterator (because it was exhausted)
df_iter = pd.read_csv(
    csv_url,
    iterator=True,
    chunksize=100_000,
    dtype={"store_and_fwd_flag": "string"},
    low_memory=False,
)

# Prefetch first chunk (this also proves it's alive)
first_chunk = next(df_iter)
print("Prefetched chunk 1 rows:", len(first_chunk))

# Create/replace table schema
first_chunk.head(0).to_sql(
    name="yellow_taxi_data",
    con=engine,
    if_exists="replace",
    index=False,
)

# Insert chunk 1
first_chunk.to_sql(
    name="yellow_taxi_data",
    con=engine,
    if_exists="append",
    index=False,
    method="multi",
)
print("Inserted chunk 1")

# Insert remaining chunks with progress
for i, df_chunk in enumerate(tqdm(df_iter, total=13), start=2):
    df_chunk.to_sql(
        name="yellow_taxi_data",
        con=engine,
        if_exists="append",
        index=False,
        method="multi",
    )
    print(f"Inserted chunk {i}")

Prefetched chunk 1 rows: 100000

NameError: name 'engine' is not defined

In [15]:
import os
from sqlalchemy import create_engine

engine = create_engine(
    f"postgresql+psycopg2://"
    f"{os.environ['POSTGRES_USER']}:"
    f"{os.environ['POSTGRES_PASSWORD']}@"
    f"{os.environ.get('POSTGRES_HOST', 'ny_taxi_pg')}:"
    f"{os.environ.get('POSTGRES_PORT', 5432)}/"
    f"{os.environ['POSTGRES_DB']}"
)

print("Engine created OK")

Engine created OK

In [ ]:
import pandas as pd
from tqdm import tqdm

csv_url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz"

df_iter = pd.read_csv(
    csv_url,
    iterator=True,
    chunksize=100_000,
    dtype={"store_and_fwd_flag": "string"},
    low_memory=False,
)

first_chunk = next(df_iter)
print("Prefetched chunk 1 rows:", len(first_chunk))

first_chunk.head(0).to_sql(
    name="yellow_taxi_data",
    con=engine,
    if_exists="replace",
    index=False,
)

first_chunk.to_sql(
    name="yellow_taxi_data",
    con=engine,
    if_exists="append",
    index=False,
    method="multi",
)
print("Inserted chunk 1")

for i, df_chunk in enumerate(tqdm(df_iter, total=13), start=2):
    df_chunk.to_sql(
        name="yellow_taxi_data",
        con=engine,
        if_exists="append",
        index=False,
        method="multi",
    )
    print(f"Inserted chunk {i}")

Prefetched chunk 1 rows: 100000
Inserted chunk 1

  0%|          | 0/13 [00:00<?, ?it/s]

In [1]:
from tqdm import tqdm

for i, df_chunk in enumerate(tqdm(df_iter, total=13), start=2):
    df_chunk.to_sql(
        name="yellow_taxi_data",
        con=engine,
        if_exists="append",
        index=False,
        method="multi",
    )
    print(f"Inserted chunk {i}")

NameError: name 'df_iter' is not defined

In [ ]:
import os
import pandas as pd
from sqlalchemy import create_engine
from tqdm import tqdm

# recreate engine
engine = create_engine(
    f"postgresql+psycopg2://"
    f"{os.environ['POSTGRES_USER']}:"
    f"{os.environ['POSTGRES_PASSWORD']}@"
    f"{os.environ.get('POSTGRES_HOST','ny_taxi_pg')}:"
    f"{os.environ.get('POSTGRES_PORT',5432)}/"
    f"{os.environ['POSTGRES_DB']}"
)

csv_url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz"

df_iter = pd.read_csv(
    csv_url,
    iterator=True,
    chunksize=100_000,
    dtype={"store_and_fwd_flag": "string"},
    low_memory=False,
)

# prefetch first chunk
first_chunk = next(df_iter)

# DROP + recreate table schema
first_chunk.head(0).to_sql(
    "yellow_taxi_data",
    con=engine,
    if_exists="replace",
    index=False,
)

# insert all chunks
first_chunk.to_sql(
    "yellow_taxi_data",
    con=engine,
    if_exists="append",
    index=False,
    method="multi",
)
print("Inserted chunk 1")

for i, df_chunk in enumerate(tqdm(df_iter, total=13), start=2):
    df_chunk.to_sql(
        "yellow_taxi_data",
        con=engine,
        if_exists="append",
        index=False,
        method="multi",
    )
    print(f"Inserted chunk {i}")

In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine(
    f"postgresql+psycopg2://"
    f"{os.environ['POSTGRES_USER']}:{os.environ['POSTGRES_PASSWORD']}"
    f"@{os.environ.get('POSTGRES_HOST','ny_taxi_pg')}:{os.environ.get('POSTGRES_PORT',5432)}"
    f"/{os.environ['POSTGRES_DB']}"
)

pd.read_sql("SELECT COUNT(*) AS n FROM yellow_taxi_data", con=engine)

   n
0  0

In [2]:
import os
import psycopg2
from sqlalchemy import create_engine

PG_HOST = os.environ.get("POSTGRES_HOST", "ny_taxi_pg")
PG_PORT = int(os.environ.get("POSTGRES_PORT", "5432"))
PG_USER = os.environ["POSTGRES_USER"]
PG_PASS = os.environ["POSTGRES_PASSWORD"]
PG_DB   = os.environ["POSTGRES_DB"]

engine = create_engine(f"postgresql+psycopg2://{PG_USER}:{PG_PASS}@{PG_HOST}:{PG_PORT}/{PG_DB}")

pg_conn = psycopg2.connect(
    host=PG_HOST, port=PG_PORT, user=PG_USER, password=PG_PASS, dbname=PG_DB
)

print("DB connections OK")

DB connections OK

In [3]:
import pandas as pd
from tqdm import tqdm
from io import StringIO

csv_url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz"

# Stream CSV in chunks (smaller chunks reduce memory spikes)
df_iter = pd.read_csv(
    csv_url,
    iterator=True,
    chunksize=50_000,
    dtype={"store_and_fwd_flag": "string"},
    low_memory=False,
)

# Prefetch first chunk
first_chunk = next(df_iter)
print("Prefetched rows:", len(first_chunk))

# Create/replace table schema (empty table with correct columns)
first_chunk.head(0).to_sql("yellow_taxi_data", con=engine, if_exists="replace", index=False)

# Prepare COPY statement (quote column names safely)
cols = list(first_chunk.columns)
cols_sql = ", ".join([f'"{c}"' for c in cols])
copy_sql = f'COPY yellow_taxi_data ({cols_sql}) FROM STDIN WITH (FORMAT csv, HEADER false)'

def copy_chunk(conn, chunk: pd.DataFrame):
    # ensure same column order
    chunk = chunk[cols]

    # write chunk to in-memory CSV
    buf = StringIO()
    chunk.to_csv(buf, index=False, header=False)
    buf.seek(0)

    with conn.cursor() as cur:
        cur.copy_expert(copy_sql, buf)
    conn.commit()

# COPY first chunk
copy_chunk(pg_conn, first_chunk)
print("Copied chunk 1")

# COPY the rest with tqdm
for i, chunk in enumerate(tqdm(df_iter), start=2):
    copy_chunk(pg_conn, chunk)
    if i % 5 == 0:
        print(f"Copied chunk {i}", flush=True)

print("Done")

Prefetched rows: 50000
Copied chunk 1

3it [00:01,  1.55it/s]

Copied chunk 5

8it [00:05,  1.55it/s]

Copied chunk 10

13it [00:08,  1.39it/s]

Copied chunk 15

18it [00:12,  1.17it/s]

Copied chunk 20

23it [00:16,  1.27it/s]

Copied chunk 25

24it [00:18,  1.31it/s]

InvalidTextRepresentation: invalid input syntax for type bigint: "2.0"
CONTEXT:  COPY yellow_taxi_data, line 1, column VendorID: "2.0"

In [4]:
import pandas as pd
pd.read_sql("SELECT COUNT(*) AS n FROM yellow_taxi_data", con=engine)

         n
0  1250000

In [7]:
import pandas as pd
from tqdm import tqdm

csv_url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz"

n_loaded = int(pd.read_sql("SELECT COUNT(*) AS n FROM yellow_taxi_data", con=engine).iloc[0,0])
print("Rows already loaded:", n_loaded)

df_iter = pd.read_csv(
    csv_url,
    iterator=True,
    chunksize=50_000,
    dtype={"store_and_fwd_flag": "string"},
    low_memory=False,
    skiprows=range(1, n_loaded + 1),  # skip header handled by range starting at 1
)

# continue COPY
for i, chunk in enumerate(tqdm(df_iter), start=1):
    copy_chunk(pg_conn, chunk)
    if i % 5 == 0:
        print(f"Resumed: copied {i} more chunks", flush=True)

print("Resume done")

Rows already loaded: 1250000

0it [00:00, ?it/s]

InvalidTextRepresentation: invalid input syntax for type bigint: "2.0"
CONTEXT:  COPY yellow_taxi_data, line 1, column VendorID: "2.0"

In [6]:
pg_conn.rollback()
print("Rolled back")

Rolled back

In [8]:
pg_conn.rollback()

In [9]:
import pandas as pd
from io import StringIO

INT_LIKE_COLS = ["VendorID", "RatecodeID", "passenger_count", "payment_type"]

def normalize_types(chunk: pd.DataFrame) -> pd.DataFrame:
    chunk = chunk.copy()
    for c in INT_LIKE_COLS:
        if c in chunk.columns:
            chunk[c] = pd.to_numeric(chunk[c], errors="coerce").astype("Int64")
    return chunk

def copy_chunk(conn, chunk: pd.DataFrame):
    chunk = chunk[cols]
    chunk = normalize_types(chunk)

    buf = StringIO()
    chunk.to_csv(buf, index=False, header=False, na_rep="")
    buf.seek(0)

    with conn.cursor() as cur:
        cur.copy_expert(copy_sql, buf)
    conn.commit()

In [10]:
import pandas as pd
from tqdm import tqdm

csv_url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz"

n_loaded = int(pd.read_sql("SELECT COUNT(*) AS n FROM yellow_taxi_data", con=engine).iloc[0,0])
print("Rows already loaded:", n_loaded)

df_iter = pd.read_csv(
    csv_url,
    iterator=True,
    chunksize=50_000,
    dtype={"store_and_fwd_flag": "string"},
    low_memory=False,
    skiprows=range(1, n_loaded + 1),
)

for i, chunk in enumerate(tqdm(df_iter), start=1):
    copy_chunk(pg_conn, chunk)

print("Resume done")

Rows already loaded: 1250000

3it [00:01,  1.61it/s]

Resume done

In [14]:
pd.read_sql("SELECT COUNT(*) AS n FROM yellow_taxi_data", con=engine)

         n
0  1369765

In [15]:
pd.read_sql("SELECT * FROM yellow_taxi_data LIMIT 5", con=engine)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [16]:
pd.read_sql("""
SELECT
  MIN(tpep_pickup_datetime) AS min_pickup,
  MAX(tpep_pickup_datetime) AS max_pickup
FROM yellow_taxi_data
""", con=engine)

            min_pickup           max_pickup
0  2008-12-31 23:05:14  2021-02-22 16:52:16

In [3]:
import os
import pandas as pd
from sqlalchemy import create_engine, text

# --- Recreate engine ---
PG_HOST = os.environ.get("POSTGRES_HOST", "ny_taxi_pg")
PG_PORT = int(os.environ.get("POSTGRES_PORT", "5432"))
PG_USER = os.environ["POSTGRES_USER"]
PG_PASS = os.environ["POSTGRES_PASSWORD"]
PG_DB   = os.environ["POSTGRES_DB"]

engine = create_engine(f"postgresql+psycopg2://{PG_USER}:{PG_PASS}@{PG_HOST}:{PG_PORT}/{PG_DB}")

TABLE_NAME = "yellow_taxi_data"
LOAD_ID = "yellow_2021_01"

with engine.begin() as conn:
    # 1) Ensure progress table exists (so DELETE won't fail)
    conn.execute(text("""
    CREATE TABLE IF NOT EXISTS etl_load_progress (
        load_id TEXT PRIMARY KEY,
        table_name TEXT NOT NULL,
        source_url TEXT NOT NULL,
        chunk_size INT NOT NULL,
        rows_loaded BIGINT NOT NULL DEFAULT 0,
        chunks_loaded BIGINT NOT NULL DEFAULT 0,
        last_success_at TIMESTAMPTZ,
        last_error_at TIMESTAMPTZ,
        last_error TEXT
    );
    """))

    # 2) Truncate data table if it exists (skip if not yet created)
    conn.execute(text(f'DO $$ BEGIN '
                      f'IF to_regclass(\'public."{TABLE_NAME}"\') IS NOT NULL THEN '
                      f'EXECUTE \'TRUNCATE TABLE "{TABLE_NAME}"\'; '
                      f'END IF; '
                      f'END $$;'))

    # 3) Reset progress for this load id
    conn.execute(text("DELETE FROM etl_load_progress WHERE load_id = :load_id"), {"load_id": LOAD_ID})

# Sanity check
pd.read_sql(f"""
SELECT
  COALESCE((SELECT COUNT(*) FROM "{TABLE_NAME}"), 0) AS table_rows,
  (SELECT COUNT(*) FROM etl_load_progress WHERE load_id = '{LOAD_ID}') AS progress_rows
""", con=engine)

   table_rows  progress_rows
0           0              0

In [4]:
import os
import time
import pandas as pd
import psycopg2
from sqlalchemy import create_engine, text
from tqdm import tqdm
from io import StringIO

# ----------------------------
# CONFIG
# ----------------------------
CSV_URL = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz"
TABLE_NAME = "yellow_taxi_data"
LOAD_ID = "yellow_2021_01"          # change if you load a different file
CHUNK_SIZE = 50_000
INT_LIKE_COLS = ["VendorID", "RatecodeID", "passenger_count", "payment_type"]

# Read DB creds from environment (docker-compose env_file injects these)
PG_HOST = os.environ.get("POSTGRES_HOST", "ny_taxi_pg")
PG_PORT = int(os.environ.get("POSTGRES_PORT", "5432"))
PG_USER = os.environ["POSTGRES_USER"]
PG_PASS = os.environ["POSTGRES_PASSWORD"]
PG_DB   = os.environ["POSTGRES_DB"]

engine = create_engine(f"postgresql+psycopg2://{PG_USER}:{PG_PASS}@{PG_HOST}:{PG_PORT}/{PG_DB}")
pg_conn = psycopg2.connect(host=PG_HOST, port=PG_PORT, user=PG_USER, password=PG_PASS, dbname=PG_DB)
pg_conn.autocommit = False

# ----------------------------
# HELPERS
# ----------------------------
def ensure_progress_table():
    ddl = """
    CREATE TABLE IF NOT EXISTS etl_load_progress (
        load_id TEXT PRIMARY KEY,
        table_name TEXT NOT NULL,
        source_url TEXT NOT NULL,
        chunk_size INT NOT NULL,
        rows_loaded BIGINT NOT NULL DEFAULT 0,
        chunks_loaded BIGINT NOT NULL DEFAULT 0,
        last_success_at TIMESTAMPTZ,
        last_error_at TIMESTAMPTZ,
        last_error TEXT
    );
    """
    with engine.begin() as conn:
        conn.execute(text(ddl))

def get_progress():
    q = text("SELECT rows_loaded, chunks_loaded FROM etl_load_progress WHERE load_id = :load_id")
    with engine.begin() as conn:
        row = conn.execute(q, {"load_id": LOAD_ID}).fetchone()
    if row is None:
        return 0, 0
    return int(row[0]), int(row[1])

def upsert_progress(rows_loaded: int, chunks_loaded: int, error: str | None = None):
    sql = text("""
    INSERT INTO etl_load_progress(load_id, table_name, source_url, chunk_size, rows_loaded, chunks_loaded, last_success_at, last_error_at, last_error)
    VALUES (:load_id, :table_name, :source_url, :chunk_size, :rows_loaded, :chunks_loaded,
            CASE WHEN :error IS NULL THEN NOW() ELSE NULL END,
            CASE WHEN :error IS NOT NULL THEN NOW() ELSE NULL END,
            :error)
    ON CONFLICT (load_id) DO UPDATE SET
        table_name = EXCLUDED.table_name,
        source_url = EXCLUDED.source_url,
        chunk_size = EXCLUDED.chunk_size,
        rows_loaded = EXCLUDED.rows_loaded,
        chunks_loaded = EXCLUDED.chunks_loaded,
        last_success_at = CASE WHEN EXCLUDED.last_error IS NULL THEN NOW() ELSE etl_load_progress.last_success_at END,
        last_error_at   = CASE WHEN EXCLUDED.last_error IS NOT NULL THEN NOW() ELSE etl_load_progress.last_error_at END,
        last_error      = EXCLUDED.last_error;
    """)
    with engine.begin() as conn:
        conn.execute(sql, {
            "load_id": LOAD_ID,
            "table_name": TABLE_NAME,
            "source_url": CSV_URL,
            "chunk_size": CHUNK_SIZE,
            "rows_loaded": rows_loaded,
            "chunks_loaded": chunks_loaded,
            "error": error
        })

def normalize_types(df: pd.DataFrame) -> pd.DataFrame:
    df = df.copy()
    for c in INT_LIKE_COLS:
        if c in df.columns:
            df[c] = pd.to_numeric(df[c], errors="coerce").astype("Int64")
    return df

def make_copy_sql(cols):
    cols_sql = ", ".join([f'"{c}"' for c in cols])
    return f'COPY {TABLE_NAME} ({cols_sql}) FROM STDIN WITH (FORMAT csv, HEADER false)'

def copy_chunk(conn, copy_sql: str, cols: list[str], df: pd.DataFrame):
    df = df[cols]
    df = normalize_types(df)

    buf = StringIO()
    df.to_csv(buf, index=False, header=False, na_rep="")
    buf.seek(0)

    with conn.cursor() as cur:
        cur.copy_expert(copy_sql, buf)

# ----------------------------
# MAIN LOAD (resume-safe)
# ----------------------------
ensure_progress_table()

rows_loaded, chunks_loaded = get_progress()
print(f"[progress] rows_loaded={rows_loaded} chunks_loaded={chunks_loaded}")

# (Re)create the iterator, skipping already loaded rows
df_iter = pd.read_csv(
    CSV_URL,
    iterator=True,
    chunksize=CHUNK_SIZE,
    dtype={"store_and_fwd_flag": "string"},
    low_memory=False,
    skiprows=range(1, rows_loaded + 1)  # skip data rows; keep header
)

# If we're starting fresh, we need to create the table schema
# If resuming, we must not replace the table.
try:
    if rows_loaded == 0:
        first = next(df_iter)
        cols = list(first.columns)

        # Create empty table schema
        first.head(0).to_sql(TABLE_NAME, con=engine, if_exists="replace", index=False)
        copy_sql = make_copy_sql(cols)

        # Copy first chunk
        copy_chunk(pg_conn, copy_sql, cols, first)
        pg_conn.commit()

        rows_loaded += len(first)
        chunks_loaded += 1
        upsert_progress(rows_loaded, chunks_loaded, error=None)
        print(f"[ok] copied chunk {chunks_loaded} total_rows={rows_loaded}")
    else:
        # Get column order from the existing table (important!)
        with engine.begin() as conn:
            cols = [r[0] for r in conn.execute(text(f"""
                SELECT column_name
                FROM information_schema.columns
                WHERE table_name = :t
                ORDER BY ordinal_position
            """), {"t": TABLE_NAME}).fetchall()]
        copy_sql = make_copy_sql(cols)

    # Continue streaming remaining chunks
    for df_chunk in tqdm(df_iter):
        copy_chunk(pg_conn, copy_sql, cols, df_chunk)
        pg_conn.commit()

        rows_loaded += len(df_chunk)
        chunks_loaded += 1
        upsert_progress(rows_loaded, chunks_loaded, error=None)

except StopIteration:
    print("[done] no data (iterator empty)")

except Exception as e:
    # Roll back DB transaction so the connection can be reused after restart
    try:
        pg_conn.rollback()
    except Exception:
        pass

    # Persist the failure info for next run
    upsert_progress(rows_loaded, chunks_loaded, error=str(e))

    print("\n[FAILED]")
    print("Saved progress so you can rerun this cell to resume.")
    print("rows_loaded =", rows_loaded)
    print("chunks_loaded =", chunks_loaded)
    print("error =", repr(e))
    raise

finally:
    # Keep connections open if you want; otherwise close them
    # pg_conn.close()
    pass

print(f"\n[complete] rows_loaded={rows_loaded} chunks_loaded={chunks_loaded}")
print(pd.read_sql(f"SELECT COUNT(*) AS n FROM {TABLE_NAME}", con=engine))
print(pd.read_sql("SELECT * FROM etl_load_progress WHERE load_id = %s" % repr(LOAD_ID), con=engine))

[progress] rows_loaded=0 chunks_loaded=0
[ok] copied chunk 1 total_rows=50000

27it [00:18,  1.43it/s]

[complete] rows_loaded=1369765 chunks_loaded=28
         n
0  1369765
          load_id        table_name  \
0  yellow_2021_01  yellow_taxi_data

                                          source_url  chunk_size  rows_loaded  \
0  https://github.com/DataTalksClub/nyc-tlc-data/...       50000      1369765

   chunks_loaded                  last_success_at last_error_at last_error
0             28 2026-02-04 14:36:53.951439+00:00          None       None